dnspython==1.16.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
gunicorn==20.0.4
Jinja2==2.11.1
python-http-client==3.2.7
urllib3==1.25.8
Werkzeug==1.0.1
black==19.10b0
imutils
threading
argparse
cv2
numpy
